body{
    font-family: Arial;
    background: #f2f2f2;
}

.container{
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

input{
    width: 90%;
    padding: 8px;
}

button{
    padding: 8px 20px;
    background: #007bff;
    color: white;
    border: none;
}

a{
    display: block;
    margin-top: 10px;
}
